header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #212529;
    color: white;
}
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}
header nav a:hover {
    text-decoration: none;
}  
header nav a.active {
    font-weight: bold; /* Make it stand out */
    text-decoration: none; /* Or any style to indicate it's active */
    color: #ff6600; /* Different color for active link */
}

.car-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
.car-details img {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 50px rgb(0, 0, 0);
}
.car-info {
    width: 40%;
    background: rgba(255, 255, 255, 0.494);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 50px rgb(0, 0, 0);
}
.car-info h2 {
    margin-top: 0;
    color: #000000;
}
.car-info p {
    color: #000000;
    margin: 10px 0;
}
.car-info button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgb(0, 0, 0);
}
.car-info button:hover {
    background-color: green;
    transform: translateY(-2px);
}
.car-info button:active {
    transform: translateY(1px);
}
.container {
    width: 100%;
    max-width: 1300px;
    margin: 40px auto;
    padding: 20px;      
    border-radius: 50px;
    box-shadow: 0 4px 50px rgb(0, 0, 0);
    color: #ffffff;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.710);
    text-align: center;
}
/* Content reveal animation */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }

  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
footer {
    background-color: #212529;
    color: white;
    padding: 20px;
    text-align: center;
}
footer a {
    color: #ff6600;
    text-decoration: none;
}