body {
    background-image: url(../Images/BMW.jpg);
    background-size: 1600px;            
}

.login-container {
    max-width: 500px;
    height: 450px;            
    margin: 85px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.229);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    color:black;
    font-size: 20px;
    
    /* Initially hidden */
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

/* Revealing effect */
.reveal {
    opacity: 1;
    transform: translateY(0);
}

.forgot-password {
    color: rgb(13, 0, 255); 
    text-decoration: none;
    text-align: right;
}

.forgot-password:hover {
    color: rgb(13, 0, 255); 
    background-color: whitesmoke;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}