main {
    padding: 40px 20px;
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 50px rgb(0, 0, 0);
}
main h2 {
    color: #4e73df;
    font-size: 1.8rem;
    margin-bottom: 10px;
}
main p {
    margin-bottom: 20px;
    font-size: 1rem;
}
section {
    margin-bottom: 30px;
}